<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label"
	 aria-hidden="true">
	<form target="">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="feedback-modal-label">Lähetä palautetta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Sulje">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p style="color: darkred;">Palautelomake ei ole vielä toiminnassa. Palautetta voit lähettää sähköpostilla. Linkki löytyy jokaisen sivun alareunasta.</p>
					<p>Kaikki palaute luetaan. Ne myös käsitellään luottamuksellisesti.</p>
					<p>Etukäteen suuret kiitokset palautteestasi. :-)</p>
					<p>Terveisin, <br /><em>Riku T.</em> <span class="text-muted">(palvelun kehittäjä)</span></p>
					<hr />
					<p>Palautteesi:</p>
					<div class="form-group">
						<textarea class="form-control" placeholder="" rows="4"></textarea>
					</div>
					<p>Vahvista että olet ihminen (tällä vältetään roskapostitusta).</p>
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LcgLloUAAAAADqpHnao_JQSv-QZYllD_YbFRnQi"></div>
					</div>
					<hr />
					<small class="text-muted">Voit lähettää niin monta viestiä kuin haluat. Yhteystietojen jättäminen ei
						ole välttämätöntä.
					</small>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success">Lähetä palaute</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
				</div>
			</div>
		</div>
	</form>
</div>